<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Management</title>
</head>
<body>
    <h1>Book Management</h1>
    <ul>
        <li><a href="/add/">Add New Book</a></li>
        <li><a href="/search/">View Books</a></li>
        <li><a href="/update/">Update Book</a></li>
        <li><a href="/delete">Delete Book</a></li>
        <li><a href="/view">View Book</a></li>
    </ul>
</body>
</html>
